/* 

.hamburger {
	position: fixed;
	display: block;
	width: 35px;
	cursor: pointer;
	
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #000000ec;
	transition: 0.4s;
    z-index: 400;
    align-items: center;
    justify-content: center;
}

.mobile-nav .container{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: ;
    font-size: 1.2rem;
	text-align: center;
	padding: 22px 16px;
    color: #fff;
    font-weight: bolder;
	text-decoration: none;
    border-top: solid#FFF 3px ;
}

.mobile-nav a:hover {
	background-color: #494747af;

}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}
} */