.connectme{
    position: relative;
    z-index: 90;
    background: linear-gradient(to bottom right, #1E212D, #2C2E3E);
    width: 100%;
    min-height:70vh !important ;
    flex-direction: row!important; 
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.connectme::before{
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    height: 30px;
    background:linear-gradient(to top, #1E2333,rgb(34, 33, 33));
}
.connectme .box{
    width: 49%;
    min-height: 50vh;
}
.left{
    height: 100%;
    width: 50%;
    background-color: aliceblue;
}
.right{
padding: 10px 0;
    height: 100%;
    width: 50%;
}
.email_holder{
    width: 50%;
    height: 100%;
    padding-top: 30px;
    margin: auto;
}
@media(max-width:1024px){
    
}
@media(max-width:550px){
    .connectme{
        flex-direction: column;
        min-height:100vh !important ;
    }
    .left{
        width: 70%;
    }
    .right{

        width: 70%;
    }
}

.copyright{
    width:100%; height: 50px; background:linear-gradient(to top, #1E2333,rgb(7, 7, 7));
    position: absolute;
    bottom: 0;

}
.copyright p{
    color: white;
}