nav div{
    font-weight: bolder;
}
.nav_holder{
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
    z-index: 10000;
    left: 50px;
    
}
.nav_box{
    display: flex;
    margin: 20px 0;
}
.nav_box{
    height: 100%;
    width: 100%;
}
.nav_btn{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var( --color-grey-bg);
    border-radius: 100%;
    padding: 10px 0;
    border: solid black 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
.nav_btn:hover{
    border: solid #fff 1px;
    transform:  translateY(-10px);
    background-color: var(   --color-btn_hover);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.nav_btn:hover +.hide {
    color: #fff;
    border: solid #fff 1px;
    display: flex;
    background-color:  var(--color-btn_hover);
    border-radius: 40px;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
.nav_btn img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}



/* hamburger */



.hamburger {
    background-color: var(--color-grey-bg);
    height: 40px;
    width: 40px;
    left: 40px;
    top: 30px;
    cursor: pointer;
    z-index: 10000;
    display: none;
    position: fixed;
    width: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    }

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	right: 100%;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #000000ec;
	transition: 0.4s;
    z-index: 400;
    align-items: center;
    justify-content: center;
}

.mobile-nav .container{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-nav.is-active {
	right: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
    font-size: 1.2rem;
	text-align: center;
	padding: 18px 16px;
    color: #fff;
    font-weight: bolder;
	text-decoration: none;
    border-top: solid#807b7b 1px ;
}

.mobile-nav a:hover {
	background-color: #494747af;

}

@media (min-width: 768px) {

}


@media screen and (max-width: 900px) {

  }
  
  @media screen and (max-width: 600px) {
    .nav_holder{
        display: none;
    }
    .mobile-nav {
		display: flex;
	}

	.hamburger {
		display: block;
	}

  }