
.projects{
    position: relative;
    min-height: 100vh;
    background-color: rgb(34, 33, 33);
    display: flex;
    justify-content: center;
    z-index: 110;
}

.projects.on{
    background:radial-gradient(#555,#111) ;
}
.light{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 25%;
}
.bulb{
    z-index: 23;
    position:relative;
    width: 50px;
    height: 50px;
    background: #444;
    border-radius: 50%;
}
.projects.on .bulb{
    background: rgb(226, 223, 223);
    box-shadow: 0 0 50px rgb(226, 223, 223),
    0 0 100px rgb(226, 223, 223),
    0 0 150px rgb(226, 223, 223),
    0 0 200px rgb(226, 223, 223),
    0 0 250px rgb(226, 223, 223),
    0 0 300px rgb(226, 223, 223),
    0 0 350px rgb(226, 223, 223);

}
.bulb::before{
    z-index: 30;
    content:'';
    position: absolute;
    left: 15px;
    top: -30px;
    width: 20px;
    height: 50px;
    background:#444;
    border-top:30px solid#000;
    border-radius: 10px;
}
.projects.on .bulb::before{
    background: rgb(226, 223, 223);
}
.projects.on .bulb::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
    background: rgb(226, 223, 223);
    border-radius: 50%;
    filter: blur(40px);
}


.wire{
    z-index: 20;
    top: 0;
    left: calc(50% - 2px);
    position: absolute;
    height: 30%;
    width: 4px;
    background-color: #000;
}

@media(max-width: 1024px){
    .light{

        height: 200px;

    }
}

.container{
    margin-top: 10%;
}
.resetButton {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;



}

.projects {
    padding-top: 64px;
    padding-bottom: 64px;
    }
    
    .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-bottom: 32px;
    }
    
    @media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        
    }
    .container{
        margin-top: 15%;
    }
    }
    
    @media (max-width: 767px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
    }
    
    .project {
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 288px;

    }
    
    .project .content {
    opacity: 0;
    color: #FFF;
    padding: 16px;
    background-color: rgba(47, 0, 78, 0.897);
    transition: 0.4s;
    height: 288px;
    }
    
    .projects h3 {
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: #FFF;
    white-space: nowrap;
    }
    
    @media (max-width: 1024px) {
    .project .content h3 {
    font-size: 28px;
    }
    }
    
    .project .content p {
    font-size: 18px;
    margin-bottom: 16px;
    }
    
    @media (max-width: 1024px) {
    .project .content p {
    font-size: 16px;
    }
    }
    
    .project:hover .content {
    opacity: 1;
    }
    
    .center {
    text-align: center;
    }